	
	
	
	#systemStartup .h1 { opacity : 0; } 
	#systemStartup footer { opacity : 0; }
	#systemStartup .inner { opacity : 0; }
	#systemStartup .progress-info { opacity : 0; } 
	#systemStartup .inner .contents { opacity : 0; }
	#systemStartup { opacity : 0; display:none; }
	


	
	

	
	

